<%- include ("admin_header") %>

<section id="content">
    <main>
      <div class="table-data">
        <div class="order">
          <div class="head">
                <h3>Highlights and Replays</h3>
                <h6 class="ms-auto">
                <a
                    class="d-flex justify-content-end align-self-end m-3 btn btn-primary"
                    href="/admin/addVideo"
                    >Add Video
                </a>
                </h6>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% 
              if(data.length > 0){
                  data.forEach((data) =>{
                      %>
                      <tr>
                          <td id=""><%=data.id%></td>
                        <td>
                          <p><%= data.title%></p>
                        </td>
                        <td>
                          <p><%= data.description %></p>
                        </td>
                          <td>
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Are you sure you want to delete?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                  <button type="button" class="btn btn-danger"><a
                                      href="/admin/videos/delete/<%= data.id %>" class=" text-white">Yes</a></button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a href="" class="btn btn-danger users_action" id="deleteUser" class="btn btn-primary d-none"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</a>
                          </td>  
                      </tr>
          
                      <%
  
                  });
              }
              %>
              
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </section>
